{{#if categories}}
  <nav>
    <ul>
      {{#each categories as |category|}}
      <li>{{#link-to "index" (query-params path=category.path)}}{{category.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </nav>
{{/if}}