* {
  box-sizing: border-box;
}

#remotestorage-widget {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -200px;
  z-index: 23;
}

.connect #remotestorage-widget {
  display: block;
}

// .index #remotestorage-widget {
//   position: fixed;
//   top: 1rem;
//   right: 3rem;
// }

#app-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  &.disconnected {
    > aside {
      flex: 0;
      overflow: hidden;
    }
  }

  &.connected {
    > aside {
      flex: 0 0 16rem;
      overflow: auto;
      padding: 2rem;
    }
  }

  > aside {
    transition: flex 0.2s ease-in;

    .account-info {
      height: 5rem;
    }

    nav {
      margin-bottom: 3rem;
    }
  }

  > main {
    flex: 1;
    overflow: auto;
    padding: 3rem 4rem;

    > header {
      height: 4rem;
      width: 100%;
      display: grid;
      grid-template-columns: 1.618fr 3rem 1fr;

      // nav.breadcrumb-nav {
      // }

      nav.actions {
        grid-column-start: 3;
        text-align: right;
        margin-top: -0.4rem;
      }
    }
  }
}

.inspect-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1.618fr 3rem 1fr;
  margin-bottom: 3rem;
  transition: all 0.3s ease-out;

  &.hide-metadata {
    grid-template-columns: 1.618fr 0 0;
  }

  section {
    border-top: 1px solid $light-grey-2;
    padding: 1.5rem 1px;

    &.content {
      overflow: hidden;
    }

    &.meta {
      grid-column-start: 3;
      overflow: hidden;

      dl {
        margin: 0;

        dt, dd {
          display: block;
        }
        dt {
          font-size: 0.76rem;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          color: $dark-grey-3;
          margin-bottom: 0.4rem;
        }
        dd {
          margin: 0 0 1.5rem;
        }
      }
    }
  }
}
