.account-info {
  position: relative;

  .username {
    font-size: 1.4rem;
  }

  .host {
    font-size: 0.8rem;
    opacity: 0.7;
  }

  .disconnect {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  &:hover {
    .disconnect {
      font-size: 0.8rem;
      opacity: 1;
    }
  }

}
