#app-container {
  > aside {
    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      a {
        display: block;
        padding: 0.2rem 0;
      }
    }
  }
}
