.file-preview {

  code {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: none;
  }

  img, audio, video {
    max-width: 100%;
  }

  #json-tree-view {
    overflow: auto;
  }

  .actions {
    margin-top: 2rem;
  }

}
