<ul class="listing">
  {{#each itemsSorted as |item|}}
  <li>
    {{#if item.isFolder}}
      {{#link-to "index" (query-params path=item.path)}}
        <span class="icon">{{item-icon type=item.type}}</span>
        <span class="name">{{item.name}}</span>
        <span class="size"></span>
        <span class="type">{{item.type}}</span>
      {{/link-to}}
    {{else}}
      <!-- TODO link to item -->
      {{#link-to "inspect" (query-params path=item.path)}}
        <span class="icon">{{item-icon type=item.type}}</span>
        <span class="name">{{item.name}}</span>
        <span class="size">{{human-file-size item.size}}</span>
        <span class="type">{{item.type}}</span>
      {{/link-to}}
    {{/if}}
  </li>
  {{/each}}
</ul>