{{#if fileLoaded}}
  {{#if isBinary}}
    {{#if isUnkownBinary}}
      <p>No preview available for this content type.</p>
    {{/if}}
    {{#if isImage}}
      <img src={{objectURL}} alt={{metaData.name}}>
    {{/if}}
    {{#if isAudio}}
      <audio src={{objectURL}} controls />
    {{/if}}
    {{#if isVideo}}
      <video src={{objectURL}} controls />
    {{/if}}
  {{/if}}

  {{#if isText}}
    {{#if isJSON}}
      {{#if jsonShowTree}}
        <div id="json-tree-view"></div>
      {{else}}
        <code>{{fileContent}}</code>
      {{/if}}
    {{else}}
      <code>{{fileContent}}</code>
    {{/if}}
  {{/if}}

  {{#if showEditor}}
    <div class="actions">
      <button {{action "saveChanges"}}
              disabled={{uploadingChanges}}
              class="primary">
        Save changes
      </button>
      <button {{action "cancelEditor"}}
              disabled={{uploadingChanges}}
              class="secondary">
        Cancel editing
      </button>
    </div>
  {{/if}}
{{/if}}