<div id="app-container" class={{connectedClass}}>
  <aside>
    {{#if connected}}
      {{account-info userAddress=userAddress}}
      {{categories-nav categories=categories}}
    {{/if}}
  </aside>
  <main>
    {{outlet}}
  </main>
</div>