<header>
  {{breadcrumb-nav currentDirPath=currentDirPath}}
  <nav class="actions">
    {{#if currentListingContainsDocuments}}
    <button class="delete-all" title="Delete documents/files"
            {{action "deleteDocuments"}}>{{partial 'icons/trash'}}</button>
    {{/if}}
  </nav>
</header>

{{#if currentListing}}
  {{directory-listing items=currentListing}}
{{/if}}